.btn-primary {
    
    background-color: #8700a8;
    color: white;
}
.w100 {
    width: 100%;
}

.box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px #888;
    padding: 15px;
}


input {
    margin-bottom: 10px;
}

.warning {
    background-color: red;
    border: 1px solid darkred;
    color: white;
    padding: 3px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}